body {
  background-color: #212529;
  color: #FFFFFF;
}
.btn-primary {
  background-color: #2A7FFF;
  border-color: #2A7FFF;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #FFD700;
  border-color: #FFD700;
  color: #212529;
}
.card {
  background: #FFFFFF;
  color: #212529;
  border: 1px solid #CED4DA;
}
